.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
}
.weekSwitch{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    box-sizing: border-box;
}
.divs{
    width: 206px;
    height: 47px;
}