table {
    width: 100%;
    min-height: 1000px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
th {
    background-color: #94e2ff;
}