
thead{
    position: sticky;
    top: 0;
    background: white;
}
table{
    width: 100%;
    border-collapse: collapse;

}
thead{
    z-index: 2;
    width: 100%;
}
tbody{
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #E7E7E7;
}
