
thead{
    position: sticky;
    top: 0;
    background: white;
}
table{
    width: 100%;
    border-collapse: collapse;

}
thead{
    z-index: 2;
    width: 100%;
}
tbody{
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #E7E7E7;
}
.white{
    background-color: #FFFFFF;
}
.red{
    background-color: #FF00002E;
}
.yellow{
    background-color: #CCFF002E;
}
.green{
    background-color: #00FF192E;
}

